<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/form">Newuser</a><br><br>
    <table border="2" style="background-color: aqua ; text-align: center; font-size: 25px;font-style:initial; ">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
            <th>age</th>
            <th colspan="2">Action</th>
        </tr>
        <% for (const i of result){%>
            <tr>
                <td><%=i._id%></td>
                <td><%=i.name%></td>
                <td><%=i.email%></td>
                <td><%=i.password%></td>
                <td><%=i.age%></td>
                <td><a href="/api/user/get/<%=i._id%>">Edit</a></td>
                <td><a href="/api/user/delete/<%=i._id%>">Delete</a></td>



            </tr>
            
            <%}
        %>
    </table>
</body>
</html>